body {
	background: $grey-400;
}

p {
    font-size: 16px;
    padding: 10px;
}

#ca-container {
    width: 100%;
    font-family: Helvetica; 
}

.dev {
    color: $white;
    text-align: center;
	background: $grey-700;
}


.dev2 {
	background: $dev2;
}

p {
    padding: 10px;
}

.test {
    background: $dev;
}