$gap-horizontal: 10px;
$gap-vertical: $gap-horizontal;

 
section {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
=======
    margin: 10px 0;
    margin-left: -$gutter;

    &.reverse {
        flex-direction: row-reverse;
    }
>>>>>>> master

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &.collapse  {
        padding: 0;
        margin: 0;
    }

    &.reverse {
        flex-direction: row-reverse;
    }

    &.justify-start {
        justify-content: flex-start;
    }

    &.justify-center {
        justify-content: center;
    }
    &.justify-end {
        justify-content: flex-end;
    }
    &.justify-between {
        justify-content: space-between;
    }
    &.justify-around {
        justify-content: space-around;
    }

<<<<<<< HEAD
    &.align-start {
        align-items: flex-start;
=======

.column {
    flex: 1;
    margin-left: $gutter;


    &.half {
        flex: 0 0 calc(50% - #{$gutter});
    }

    &.thirds {
        flex: 0 0 calc(33.3333% - #{$gutter}); 
    }

    &.fourth {
        flex: 0 0 25%;
    }

    &.collapse {
        margin: 0;
    }

}

@media (max-width: 600px) {
    .column {
        flex: 1;
    }

}

@media (min-width: 48em) {
    .column {
    }


    .half > .column {
        flex: 0 0 50%;
    }


    .thirds > .column {
        flex: 0 0 30%;
    }


}




/*.column {
    flex-basis: 100%;
    margin-left: 10px;
    margin-right: 10px;
    
    &:first-of-type {
        margin-left: 0;
>>>>>>> master
    }

    &.align-center {
        align-items: center;
    }

    &.align-end {
        align-items: flex-end;
    }

    &.align-baseline {
        align-items: basline;
    }

<<<<<<< HEAD
    &.align-stretch {
        align-items: stretch;
    }
=======
.grow--3-4 {
    flex-basis: 75%;
}

>>>>>>> master


    // column 100%

    & .column {
        padding: 10px;
        //margin: 0 5px;
        flex: 1 1 0%;

        & .inner {
            width: 100%;
        }

        &.collapse  {
            padding: 10px 0;
            margin: 0;

            &:first-of-type {
                padding-right: 0;
            }
            &:last-of-type {
                padding-left: 0;
            }
        }


        /*&:first-of-type {
            margin-left: 0;
        }

<<<<<<< HEAD
        &:last-of-type {
            margin-right: 0;
        }*/
        
        &.fourth {
            flex: 0 0 25%;
        }

        &.thirds {
            flex: 0 0 33.33333333%
        }

        &.half {
            flex: 0 0 50%;
        }

        &.collapse {
            margin: 0;
        }
        
        &.first {
            order: 1;
        }
=======
@media screen and (min-width: 800px) {
  .column {
    flex: 1;
    }
>>>>>>> master

        &.second {
            order: 2;
        }

<<<<<<< HEAD
        &.third {
            order: 3;
        }
=======
    .grow--3-4 {
        flex-basis: 75%;
    }
>>>>>>> master

    .grow--1-4 {
        flex-basis: 25%;
    }

<<<<<<< HEAD


}


.docs {
    padding: 10px;
    color: $white;
    background: $dev;
}

.dev {
    color: $white;
    background: $grey-700;
}
=======
} */
>>>>>>> master
